# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Site Settings
title                   : "Yudong Han"
description             : "Yudong Han's personal academic homepage. A Ph.D. candidate at Peking University, focusing on neural rendering, computer graphics, agentic software engineering, software/browser testing, 3D digital human, and high-performance web graphics (WebGPU)."
repository              : "yudshj/yudshj.github.io" # e.g., "RayeRen/acad-homepage.github.io"
url                     : "https://hanyd.site"
google_scholar_stats_use_cdn : true

# google analytics
google_analytics_id     :  G-WSV6VPKFCN
# <!-- Google tag (gtag.js) -->
# <script async src="https://www.googletagmanager.com/gtag/js?id=G-WSV6VPKFCN"></script>
# <script>
#   window.dataLayer = window.dataLayer || [];
#   function gtag(){dataLayer.push(arguments);}
#   gtag('js', new Date());

#   gtag('config', 'G-WSV6VPKFCN');
# </script>

# SEO Related
google_site_verification :  xHRKJOPOa8V3MmyhtZqJSLd-uB1rz_yEytVjNQqmBB4
bing_site_verification   :  64368D0DC852FC3400CCC560DDE523D2
baidu_site_verification  :  # get baidu_site_verification from https://ziyuan.baidu.com/login/index?u=/site/index

# Site Author
author:
  name            : "Yudong Han"
  avatar          : "/images/avatar.webp"
  bio             : "Ph.D. Candidate, School of Computer Science, Peking University"
  location        : "Beijing, China"
  employer        : "Peking University"
  pubmed          : 
  googlescholar   : "https://scholar.google.com/citations?user=NSr44m0AAAAJ"
  email           : "hanyd@pku.edu.cn"
  researchgate    : "https://www.researchgate.net/profile/Yudong_Han4"
  uri             :
  bitbucket       :
  codepen         :
  dribbble        :
  flickr          :
  facebook        :
  foursquare      :
  github          : "yudshj"
  google_plus     :
  keybase         :
  instagram       :
  impactstory     :
  lastfm          :
  linkedin        : "in/yudshj"
  dblp            : "https://dblp.org/pid/239/8355.html"
  orcid           : "https://orcid.org/0000-0003-4846-5803"
  blog            : "https://blog.hanyd.site"
  pinterest       :
  soundcloud      :
  stackoverflow   :
  steam           :
  tumblr          :
  twitter         : 
  vine            :
  weibo           :
  xing            :
  youtube         :
  wikipedia       :


# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - docs
  - google_scholar_crawler
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - .github
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - config
  - gulpfile.js
  - log
  - node_modules
  - package.json
  - tmp
  - vendor
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Defaults
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: default
      author_profile: true


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
timezone: Asia/Shanghai # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from
# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development
